.test {
  text-align: center;
}

.menu {
  float: right;
}
.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu li {
  display: inline-block;
}
.menu a {
  text-decoration: none;
}

.description {
  color: red;
}
.description:hover {
  color: green;
}

.tools-description {
  text-align: left;
}

.tools.item {
  float: left;
}
